<!doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- My  css file -->
        <link rel="stylesheet" href="bootstrap/css/estilo.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
        <!---->
        <title>Jairo Nation</title>
    </head>

    <body>

        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> <!--Fixo no topo, expansivel, cor light, branco-->
            <div class="container">
                <a href="index.html"class="navbar-brand ml-2"><img src="_logos/logo.png" width="200px"></a> <!--Logo da loja (Tamanho fixo)-->

                <!--Botão de toggle (Para telas pequenas) Cobre todas as tags dentro de "nav-site"-->
                <button class="ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-site">
                    <span class="navbar-toggler-icon"></span>
                </button> 
                
                <!--Elementos do navbar-->

                <div class="collapse navbar-collapse" id="nav-site">
                    
                    <!--Form para barra de pesquisa-->
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                    </form>

                    <!--Menu dropdown-->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><kbd>Categorias</kbd></a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Canecas</a>
                                <a class="dropdown-item" href="#">Camisas</a>
                                <a class="dropdown-item" href="#">Moletons</a>
                                <a class="dropdown-item" href="#">Meias</a>
                            </div>
                        </li>
                    </ul>
                    <!--Resto do menu-->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="login.html"><kbd>Login</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><kbd>Carrinho</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="mydata.html"><kbd>Meus dados</kbd></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><kbd>Contato</kbd></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--Fim navbar-->
        <br/>
        <br/>
        <br/>
        <br/>

        
        <!--Meus dados-->
        <!--Tela de dados pessoais 1 card é suficiente-->
        <!--Cpf nome email data de nascimento-->
        <div class="container align-center">
            <div class="mb-2">
                <h2 class="pl-1">Meus dados</h2>
            </div>
    
            <div class="card px-3 py-3">
                <div class=card-body">
    
                    <div class="card-title">
                        Nome Completo
                        <div id="card-body">
                            <input type="text" class="form-control" id="inputName" value="Seu Nome Completo" disabled>
                        </div>
                    </div>
                    
                    <div class="card-title">
                        CPF
                        <div id="card-body">
                            <input type="text" class="form-control" id="inputName" value="123.456.789-00" disabled>
                        </div>
                    </div>
    
                    <div class="card-title">
                        Email
                        <div id="card-body">
                            <input type="email" class="form-control" id="inputEmail1" aria-describedby="emailHelp" value="seuemail@provedor.com" disabled>
                        </div>
                    </div>
    
                    <div class="card-title">
                        Data De Nascimento
                        <div id="card-body">
                            <input type="text" class="form-control" id="inputName" value="00/00/0000" disabled>
                        </div>
                    </div>
    
                    <div class="card-title">
                        
                    </div>
                </div>
            </div>
        </div><!--Fim da tela de dados-->


        <!--Footer-->
        <div class="footer-container">
            <footer style="border-top: 1px rgba(0, 0, 0, 0.1) solid">
                <br/>
                <br/>
                <p class="text-center">
                    <img class="img-fluid mx-2 mb-1" src="_logos/logocompleta.png"><img/>
                    <img class="img-fluid mx-2" src="_logos/logo.png" width="200px"><img/>
                </p>

                <p class="text-center">Os produtos que você curte e o melhor serviço da internet. &copy 2019 ECC Jr.</p> 

                <p class="text-center">Formas de pagamento Cartões de crédito Visa, Aura, MasterCard, Diners Club, Hiper, American Express; Boleto bancário; Débito Online Itaú, Banco do Brasil e Bradesco.</p>
                
                <p class="text-center"><a class="btm" href="#">Facebook</a> | <a class="btm" href="#">Twitter</a> | <a class="btm" href="#">Youtube</a></p>
                <br/>
            </footer>
        </div>
        
    

        <!-- Jquery e bootstrap.js (Para controle do carousel-->
        <script src="bootstrap/js/jquery-3.4.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
